{{>layouts/header}}
<!--content-->
<div class="bg-dark text-white p-5">

<h1>{{username2}}님 반갑습니다.</h1>
</div>
{{>layouts/footer}}
<!--  help -> find action -> plugins -> marketplace -> mustache down  -->
<!--
** view template page 는 두가지의 동료가 있음
1. Controller

2. Model
-->